.jumbotron {
    background-image: url("img/monument-valley4.jpg");
    background-size: cover;
  }

  .jumbotron p {
    margin-bottom: 7%;
  }

  .TextPos {
  position: relative;
  top: 220px;
  text-align: center;
  }

  img {
    
      height: auto;
      max-width: 740px;
      -moz-transition: all 1s;
      -ms-transition: all 1s;
      -o-transition: all 1s;
      -webkit-transition: all 1s;
      transition: all 1s;
      
  }
  
  img.expanded {
      max-width: 340px;
  }

  